body{
	background-image:url(./background.png);
	background-repeat: repeat;
	background-position: center;
}
img{
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
}
h1 {
	color: red;
	font-family: arial;
	text-align:center ;
	font-size: 40px;
}
h2 {
	color: royalblue;
	font-family: italic;
	text-align: center;
	font-size: 30px;
}